---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../config";
import FavoritesPage from "../components/favorites-page.svelte";

const title = "Favorites";
const description = "My favorite movies, shows, podcasts, books, blogs, articles, videos, and cool stuff.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <FavoritesPage client:only="svelte" />
    </main>
    <Footer />
  </body>
</html>
