---
import BaseHead from "../components/common/BaseHead.astro";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import Card from "../components/Card.astro";

import projects from "../data/projects.json";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Projects | Rodrigo Dias"}
      description={"Some of my most notable projects."}
    />
    <style>
      section {
        margin: 0;
      }

      .projects-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
      }
    </style>
  </head>
  <body>
    <Header title={"Projects | Rodrigo Dias"} />
    <main>
      <section>
        <div class="projects-grid">
          {
            projects.map(
              (project: {
                logo?: string;
                name: string;
                technologies: string[];
                description: string;
                link?: string;
              }) => (
                <Card
                  title={project.name}
                  img={project.logo || ""}
                  stack={project.technologies}
                  description={project.description}
                  link={project.link || ""}
                />
              ),
            )
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
