---
const today = new Date();
import ToastHost from "./ToastHost.astro";
---

<footer transition:name="footer">
  <p>
    &copy; {today.getFullYear()}
    <img src="/favicon.webp" alt="" aria-hidden="true" />
    <a href="/">Rodrigo Dias</a>
    <a href="/ssh.pub" class="pubkey">me.pub</a>. All <s>rights</s>
    <i>lefts</i> reserved.
  </p>
</footer>
<ToastHost />
<style>
  footer {
    padding: 3.5rem 0 2rem;
    color: var(--gray-color);
    font-size: 0.88rem;
  }

  p {
    margin: 0;
    text-align: center;
  }

  img {
    width: 1.35rem;
    height: 1.35rem;
    margin: 0 0.15rem -0.28rem;
  }

  a {
    color: inherit;
  }

  .pubkey {
    font-family: var(--font-family-mono);
    font-size: 0.82em;
  }
</style>
