---
import BaseHead from "../components/common/BaseHead.astro";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";

export interface Props {
  title: string;
  description: string;
  fullWidth?: boolean;
}

const { title, description, fullWidth = false } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class={fullWidth ? "full-width-body" : ""}>
    <Header />
    <main class={`tool-container ${fullWidth ? "full-width" : ""}`}>
      <div class="header-section">
        <h1>{title}</h1>
        <p class="description">{description}</p>
      </div>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  :global(body.full-width-body) {
    max-width: 1400px !important;
    margin: 0 auto !important;
    padding: 0 2.5rem !important;
  }

  .tool-container {
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
  }

  .tool-container.full-width {
    max-width: 100%;
    padding: 0 0 2rem 0;
  }

  .header-section {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .description {
    color: var(--gray-color);
  }
</style>
